<ng-container *ngIf="loading$ | async; else content"> Loading... </ng-container>

<ng-template #content>
  <table class="table">
    <thead>
      <tr>
        <th [attr.colspan]="2" style="position: relative">
          <div class="w-100 text-center">Voters</div>
          <button
            class="voters__add__new btn btn-light"
            (click)="onAddNewVoterClicked()"
          >
            +
          </button>
        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Has Voted</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let voter of voters$ | async">
        <td>{{ voter.lastName }} {{ voter.firstName }}</td>
        <td>
          {{ voter.hasVoted | yesNo }}
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-container *ngIf="error$ | async as error">
  <ngb-alert [type]="'danger'" [dismissible]="false"
    ><strong>Error:</strong> {{ error }}</ngb-alert
  >
</ng-container>
